.project {
  margin-bottom: 30px;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: #eaf5f1;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
